@charset "utf-8";

h1 {
  font-size: 200%;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
}

h2 {
  font-size: 150%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.how to {
  margin: 112px;
  font-size: 43px;
  }





h4, h4 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

h5 {
  margin-top: 30px;
}


.bgstyle {
  margin: auto;
  width: 400px;
}

.font-big {
  font-size: 30px;
  
}

.mb-2, .my-2 {
  margin-bottom: 4.5rem!important;
}

.pt-4, .py-4 {
  padding-top: 5.5rem!important;
}

.bg-white {
  background-color: #a5f7ef!important;
}
  
      html, body {
          background-color: rgba(226, 223, 223, 0.904);
          color: #636b6f;
          font-family: 'Nunito', sans-serif;
          font-weight: 200;
          height: 100vh;
          margin: 0;
      }

      .full-height {
          height: 100vh;
      }

      .flex-center {
          align-items: center;
          display: flex;
          justify-content: center;
      }

      .position-ref {
          position: relative;
      }

      .top-right {
          position: absolute;
          right: 10px;
          top: 18px;
      }

      .content {
          text-align: center;
      }

      .title {
          font-size: 84px;
      }

      .links > a {
          color: #636b6f;
          padding: 0 25px;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: .1rem;
          text-decoration: none;
          text-transform: uppercase;
      }

      .m-b-md {
          margin-bottom: 30px;
      }

      .moji1 {
        margin-top: 200px;
        margin-bottom: 100px;
        font-size: 30px;
      }

      .moji2 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 30px;
      }

      .moji2 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 30px;
      }

      .card-text1 {
        font-size: 100px;
        color: #010706;
      }


      .card-text2 {
        font-size: 80px;
        color: #010203;
      }


      .card-text3 {
        font-size: 200px;
        position: relative;
        height: 30px;
      }

      .card {
        opacity: 50%;
      }

      .py-4 text-center {
      }